extends ../layout
block navitemhere
	div.nav-item.dropdown.ml-3
		a.nav-link.dropdown-toggle(id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
			| Action
		div.dropdown-menu(aria-labelledby="navbarDropdown")
			a.dropdown-item(href='#') find page
			a.dropdown-item(href='#') find .tif
			div.dropdown-divider
			a.dropdown-item(href='/auth/logout') log out

block content
	div.container
		div.row
			div.col-sm
				img.personalpic(src='/images/anon.png')
			div.col-sm
				h4 graphic production artist
				h1 #{firstname} #{lastname}
				p #{lan_geo}
