doctype html
head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
	title WebApp &middot; Luchina

	script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
	script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
	script(src="/js/myscript.js")

	meta(name='theme-color' content='#563d7c')

	link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
	link(href='/css/cover.css' rel='stylesheet')
	link(href='/css/mystuff.css' rel='stylesheet')

body
	div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
		header.masthead.mb-auto
			.inner
				h3.masthead-brand Cover
				nav.nav.nav-masthead.justify-content-center
					a.nav-link.active(href='/') Home
					a.nav-link(href='/features') Features
		div.autooverflow
			h3 Lorem ipsum dolor.
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis pharetra risus sit amet feugiat. Pellentesque mauris nibh, aliquam et condimentum at, iaculis eget risus. Suspendisse luctus sagittis nisl. Donec aliquet nisi gravida sapien pulvinar vestibulum. Nullam sit amet magna vitae elit congue fringilla ac ac dui. Vestibulum commodo accumsan pulvinar. Nam hendrerit, urna sit amet dapibus finibus, lectus massa placerat enim, a porttitor leo felis eu diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam congue enim in ullamcorper finibus. Proin in tincidunt lorem. In elementum posuere libero, eget maximus lacus pretium nec. Vestibulum nec sodales nisl, dapibus accumsan tortor. Nullam mollis purus quis velit sagittis, varius dictum neque varius.
			p Curabitur viverra a enim sagittis finibus. Nunc viverra ultricies eros id lacinia. Maecenas finibus, lorem quis convallis fringilla, magna turpis ultricies massa, a vehicula arcu odio vitae est. Nullam pretium quam et dui maximus pulvinar. Proin sodales felis et eros cursus tempus. Nunc elit massa, tincidunt vitae est vel, egestas facilisis sapien. Aliquam mauris ante, viverra in leo eu, dignissim dignissim augue. Phasellus pulvinar lacinia venenatis. Nulla et tristique nulla.
			h3 Lorem ipsum dolor sit.
			p Fusce accumsan, urna at molestie sagittis, nibh arcu suscipit ipsum, vitae feugiat ante turpis et quam. Proin blandit quam ut ornare sollicitudin. Phasellus ut odio id nisi suscipit laoreet. Fusce tempor, ligula nec tempor feugiat, orci metus molestie felis, id imperdiet urna diam at eros. Suspendisse sapien nulla, consectetur nec feugiat eu, faucibus vel ante. Proin luctus cursus neque, vitae maximus libero. Proin id nibh non elit aliquam gravida. Nunc eu dignissim nulla.
			p Sed accumsan porta orci vitae porttitor. Duis congue dictum sem sit amet maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque ac ipsum quis dolor luctus mattis a sit amet libero. In luctus lacus at orci tincidunt, nec placerat nulla mattis. Vivamus vitae pharetra purus. Fusce eu est venenatis, viverra augue sit amet, tincidunt arcu. Sed non ipsum ex. Etiam auctor et purus et tristique. Morbi est tortor, imperdiet sit amet est et, fringilla porta neque. Suspendisse eget purus nec sem maximus rhoncus.
			p Cras orci diam, eleifend sed justo a, elementum lobortis augue. Etiam maximus sapien risus, vitae vestibulum erat placerat eu. Nam rhoncus pharetra arcu, a tincidunt risus ornare non. Sed quis molestie est. Fusce in odio in nisl fermentum ullamcorper ac sed mi. Donec vel efficitur orci. Etiam mollis odio at posuere rhoncus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Phasellus sit amet lectus massa. Cras sit amet tincidunt ipsum, a hendrerit nunc. Nunc at tortor augue. Donec ut convallis sapien. Nam bibendum enim lacus, eu aliquet odio luctus a.

		footer.text-center.mastfoot.mt-auto
			.inner
				p made by
					a(href='https://github.com/IamLena/websqlnodeapp')  Luchina Lena

