extends layout
block content
	main.text-center.inner.cover(role='main')
	h1.cover-heading Think different.
	p.lead
		| An app for the effective work of a world-class production studio.
		| Keep your files organized. Get updates on changes.
	p.lead
		a.btn.btn-lg.btn-secondary(href='#') Log in
		a.btn.btn-lg.btn-secondary(href='#') Register
	//- h1 home page
	//- h3 hello world
	//- a(href='/auth/login') log in
	//- br
	//- a(href='/auth/register') register
	//- button.btn.btn-success hey
