extends layout
block content
	main.text-center.inner.cover(role='main')
		h1.cover-heading Think different.
		p.lead
			| An app for the effective work of a world-class production studio.
			| Keep your files organized. Get updates on changes.
		p.lead
			a.btn.btn-lg.btn-secondary(href='/auth/login') Log in
			a.btn.btn-lg.btn-secondary(href='/auth/register') Register
