extends layout
block content
	h1 register form
	form(action="/auth/register", method="post")
		div
			label(for="inputlogin") login
			input(id="inputlogin", placeholder="Enter login", name="login")
		//- div
		//- 	label(for="inputfullname") fullname
		//- 	input(id="inputfullname", placeholder="Enter fullname", name="fullname")
		//- div
		//- 	label(for="inputemail") email
		//- 	input(type="email", id="inputemail", placeholder="Enter email", name="email")
		//- div
		//- 	label choose your position
		//- 	div
		//- 		label(for="designer") designer
		//- 		input(type="radio", id="designer" name="position" value=1)
		//- 	div
		//- 		label(for="cm") content manager
		//- 		input(type="radio", id="cm" name="position" value=2)
		//- 	div
		//- 		label(for="ga") graphic artist
		//- 		input(type="radio", id="ga" name="position" value=3)
		//- label(for="lan_geo") Chose language:
		//- select(name="lan_geo", id="lan_geo")
		//- 	option(value="en-US") English (United States)
		//- 	option(value="af-ZA") Afrikaans (South Africa)
		//- 	option(value="ar-AE") Arabic (U.A.E.)
		//- 	option(value="ar-BH") Arabic (Bahrain)
		//- 	option(value="ar-DZ") Arabic (Algeria)
		//- 	option(value="ar-EG") Arabic (Egypt)
		//- 	option(value="ar-IQ") Arabic (Iraq)
		//- 	option(value="ar-JO") Arabic (Jordan)
		//- 	option(value="ar-KW") Arabic (Kuwait)
		//- 	option(value="ar-LB") Arabic (Lebanon)
		//- 	option(value="ar-LY") Arabic (Libya)
		//- 	option(value="ar-MA") Arabic (Morocco)
		//- 	option(value="ar-OM") Arabic (Oman)
		//- 	option(value="ar-QA") Arabic (Qatar)
		//- 	option(value="ar-SA") Arabic (Saudi Arabia)
		//- 	option(value="ar-SY") Arabic (Syria)
		//- 	option(value="ar-TN") Arabic (Tunisia)
		//- 	option(value="ar-YE") Arabic (Yemen)
		//- 	option(value="az-AZ") Azeri (Azerbaijan)
		//- 	option(value="be-BY") Belarusian (Belarus)
		//- 	option(value="bg-BG") Bulgarian (Bulgaria)
		//- 	option(value="bs-BA") Bosnian (Bosnia and Herzegovina)
		//- 	option(value="ca-ES") Catalan (Spain)
		//- 	option(value="cs-CZ") Czech (Czech Republic)
		//- 	option(value="cy-GB") Welsh (United Kingdom)
		//- 	option(value="da-DK") Danish (Denmark)
		//- 	option(value="de-AT") German (Austria)
		//- 	option(value="de-CH") German (Switzerland)
		//- 	option(value="de-DE") German (Germany)
		//- 	option(value="de-LI") German (Liechtenstein)
		//- 	option(value="de-LU") German (Luxembourg)
		//- 	option(value="dv-MV") Divehi (Maldives)
		//- 	option(value="el-GR") Greek (Greece)
		//- 	option(value="en-AU") English (Australia)
		//- 	option(value="en-BZ") English (Belize)
		//- 	option(value="en-CA") English (Canada)
		//- 	option(value="en-CB") English (Caribbean)
		//- 	option(value="en-GB") English (United Kingdom)
		//- 	option(value="en-IE") English (Ireland)
		//- 	option(value="en-JM") English (Jamaica)
		//- 	option(value="en-NZ") English (New Zealand)
		//- 	option(value="en-PH") English (Republic of the Philippines)
		//- 	option(value="en-TT") English (Trinidad and Tobago)
		//- 	option(value="en-ZA") English (South Africa)
		//- 	option(value="en-ZW") English (Zimbabwe)
		//- 	option(value="es-AR") Spanish (Argentina)
		//- 	option(value="es-BO") Spanish (Bolivia)
		//- 	option(value="es-CL") Spanish (Chile)
		//- 	option(value="es-CO") Spanish (Colombia)
		//- 	option(value="es-CR") Spanish (Costa Rica)
		//- 	option(value="es-DO") Spanish (Dominican Republic)
		//- 	option(value="es-EC") Spanish (Ecuador)
		//- 	option(value="es-ES") Spanish (Spain)
		//- 	option(value="es-GT") Spanish (Guatemala)
		//- 	option(value="es-HN") Spanish (Honduras)
		//- 	option(value="es-MX") Spanish (Mexico)
		//- 	option(value="es-NI") Spanish (Nicaragua)
		//- 	option(value="es-PA") Spanish (Panama)
		//- 	option(value="es-PE") Spanish (Peru)
		//- 	option(value="es-PR") Spanish (Puerto Rico)
		//- 	option(value="es-PY") Spanish (Paraguay)
		//- 	option(value="es-SV") Spanish (El Salvador)
		//- 	option(value="es-UY") Spanish (Uruguay)
		//- 	option(value="es-VE") Spanish (Venezuela)
		//- 	option(value="et-EE") Estonian (Estonia)
		//- 	option(value="eu-ES") Basque (Spain)
		//- 	option(value="fa-IR") Farsi (Iran)
		//- 	option(value="fi-FI") Finnish (Finland)
		//- 	option(value="fo-FO") Faroese (Faroe Islands)
		//- 	option(value="fr-BE") French (Belgium)
		//- 	option(value="fr-CA") French (Canada)
		//- 	option(value="fr-CH") French (Switzerland)
		//- 	option(value="fr-FR") French (France)
		//- 	option(value="fr-LU") French (Luxembourg)
		//- 	option(value="fr-MC") French (Principality of Monaco)
		//- 	option(value="gl-ES") Galician (Spain)
		//- 	option(value="gu-IN") Gujarati (India)
		//- 	option(value="he-IL") Hebrew (Israel)
		//- 	option(value="hi-IN") Hindi (India)
		//- 	option(value="hr-BA") Croatian (Bosnia and Herzegovina)
		//- 	option(value="hr-HR") Croatian (Croatia)
		//- 	option(value="hu-HU") Hungarian (Hungary)
		//- 	option(value="hy-AM") Armenian (Armenia)
		//- 	option(value="id-ID") Indonesian (Indonesia)
		//- 	option(value="is-IS") Icelandic (Iceland)
		//- 	option(value="it-CH") Italian (Switzerland)
		//- 	option(value="it-IT") Italian (Italy)
		//- 	option(value="ja-JP") Japanese (Japan)
		//- 	option(value="ka-GE") Georgian (Georgia)
		//- 	option(value="kk-KZ") Kazakh (Kazakhstan)
		//- 	option(value="kn-IN") Kannada (India)
		//- 	option(value="ko-KR") Korean (Korea)
		//- 	option(value="kok-IN") Konkani (India)
		//- 	option(value="ky-KG") Kyrgyz (Kyrgyzstan)
		//- 	option(value="lt-LT") Lithuanian (Lithuania)
		//- 	option(value="lv-LV") Latvian (Latvia)
		//- 	option(value="mi-NZ") Maori (New Zealand)
		//- 	option(value="mk-MK") FYRO Macedonian (Former Yugoslav Republic of Macedonia)
		//- 	option(value="mn-MN") Mongolian (Mongolia)
		//- 	option(value="mr-IN") Marathi (India)
		//- 	option(value="ms-BN") Malay (Brunei Darussalam)
		//- 	option(value="ms-MY") Malay (Malaysia)
		//- 	option(value="mt-MT") Maltese (Malta)
		//- 	option(value="nl-BE") Dutch (Belgium)
		//- 	option(value="nl-NL") Dutch (Netherlands)
		//- 	option(value="nn-NO") Norwegian (Norway)
		//- 	option(value="ns-ZA") Northern Sotho (South Africa)
		//- 	option(value="pa-IN") Punjabi (India)
		//- 	option(value="pl-PL") Polish (Poland)
		//- 	option(value="ps-AR") Pashto (Afghanistan)
		//- 	option(value="pt-BR") Portuguese (Brazil)
		//- 	option(value="pt-PT") Portuguese (Portugal)
		//- 	option(value="qu-BO") Quechua (Bolivia)
		//- 	option(value="qu-EC") Quechua (Ecuador)
		//- 	option(value="qu-PE") Quechua (Peru)
		//- 	option(value="ro-RO") Romanian (Romania)
		//- 	option(value="ru-RU") Russian (Russia)
		//- 	option(value="sa-IN") Sanskrit (India)
		//- 	option(value="se-FI") Sami (Finland)
		//- 	option(value="se-NO") Sami (Norway)
		//- 	option(value="se-SE") Sami (Sweden)
		//- 	option(value="sk-SK") Slovak (Slovakia)
		//- 	option(value="sl-SI") Slovenian (Slovenia)
		//- 	option(value="sq-AL") Albanian (Albania)
		//- 	option(value="sr-BA") Serbian (Bosnia and Herzegovina)
		//- 	option(value="sr-SP") Serbian (Serbia and Montenegro)
		//- 	option(value="sv-FI") Swedish (Finland)
		//- 	option(value="sv-SE") Swedish (Sweden)
		//- 	option(value="sw-KE") Swahili (Kenya)
		//- 	option(value="syr-SY") Syriac (Syria)
		//- 	option(value="ta-IN") Tamil (India)
		//- 	option(value="te-IN") Telugu (India)
		//- 	option(value="th-TH") Thai (Thailand)
		//- 	option(value="tl-PH") Tagalog (Philippines)
		//- 	option(value="tn-ZA") Tswana (South Africa)
		//- 	option(value="tr-TR") Turkish (Turkey)
		//- 	option(value="tt-RU") Tatar (Russia)
		//- 	option(value="uk-UA") Ukrainian (Ukraine)
		//- 	option(value="ur-PK") Urdu (Islamic Republic of Pakistan)
		//- 	option(value="uz-UZ") Uzbek (Uzbekistan)
		//- 	option(value="vi-VN") Vietnamese (Viet Nam)
		//- 	option(value="xh-ZA") Xhosa (South Africa)
		//- 	option(value="zh-CN") Chinese (S)
		//- 	option(value="zh-HK") Chinese (Hong Kong)
		//- 	option(value="zh-MO") Chinese (Macau)
		//- 	option(value="zh-SG") Chinese (Singapore)
		//- 	option(value="zh-TW") Chinese (T)
		//- 	option(value="zu-ZA") Zulu (South Africa)
		//- br
		div
			label(for="inputpassword") password
			input(type="password", id="inputpassword", placeholder="Enter password", name="password")
		div
			label(for="inputconfpassword") confirmed password
			input(type="password", id="inputconfpassword", placeholder="Confirm password", name="confirmedPassword")
		button(type="submit") register
	if message
		p #{message}
