extends layout
block content
	h1 register form
	form(action="/auth/register", method="post")
		div
			label(for="inputlogin") login
			input(id="inputlogin", placeholder="Enter login", name="login")
		div
			label(for="inputfullname") fullname
			input(id="inputfullname", placeholder="Enter fullname", name="fullname")
		div
			label(for="inputemail") email
			input(type="email", id="inputemail", placeholder="Enter email", name="email")
		div
			label choose your position
			div
				label(for="designer") designer
				input(type="radio", id="designer" name="position" value=1)
			div
				label(for="cm") content manager
				input(type="radio", id="cm" name="position" value=2)
			div
				label(for="ga") graphic artist
				input(type="radio", id="ga" name="position" value=3)
		label(for="lan_geo") Chose language:
		select(name="lan_geo", id="lan_geo")
			each lan in lans
				option(value=lan.lan_geo) #{lan.language} (#{lan.country})
		br
		div
			label(for="inputpassword") password
			input(type="password", id="inputpassword", placeholder="Enter password", name="password")
		div
			label(for="inputconfpassword") confirmed password
			input(type="password", id="inputconfpassword", placeholder="Confirm password", name="confirmedPassword")
		button(type="submit") register
	if message
		p #{message}
