.btn {
	margin-right: 15px;
}

.loginform {
	width : 60%;

}

.registerform {
	width : 70%;
}

.input-group-text {
	color: white;
	background-color:  #333;
}

.regelem {
	margin-bottom: 5px;
}

.custom-control-inline {
	margin-top: 10px;
	margin-bottom: 10px;
}

#showdel {
	margin-right: 4px;
}

#filterscreen {
	height: 70%;
}

.personalpic {
	width: 75%;
	background-color : white;
}

.screenpic {
	max-width: 60%;
	max-height: 80%;
}

.bottom{position:absolute; bottom:0;}

/* .dropdown:hover .dropdown-menu {
	display: block;
	cursor: pointer;
} */

.input-file{
	display : none;
}

.btn-file {
	background-color: #ffda75;
}

.smalimg {
	width: 100px;
}

/* .smalimg:hover {
	transform: scale(2);
} */

.modal-content {
	background-color: #333;
}

tr.data:hover {
	background-color : #595859;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

td, th {
	width: 20%
}

.autooverflow {
	overflow-y: auto;
	margin-top : 20px;
}

.linkfontstyle {
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}

/* Set a fixed scrollable wrapper */
.tableWrap {
	height: 70%;
	overflow: auto;
}

/* Set header to stick to the top of the container. */
thead tr th {
	position: sticky;
	top: 0;
}

th {
	background-color: #595859;
	padding: 16px;
	padding-left: 15px;
	box-shadow: 0px 0px 0 2px #595859;
}


