extends ../layout

block content
	form(action='/designer/modify', method='post', enctype="multipart/form-data")
		div.input-group.form-row.mb-1
			div.input-group-prepend
				label.input-group-text(for="inputid") id
			if (m_id)
				input.form-control(id="inputid", placeholder="enter id", name="id", value=`${m_id}`)
			else
				input.form-control(id="inputid", placeholder="enter id", name="id")

		div.input-group.form-row.mb-1
			label.btn.btn-file(for="inputgrab") add grab
			input.input-file(type="file" id="inputgrab", name="grab", accept=".png")

			label.btn.btn-file(for="inputpsd") add .psd
			input.input-file(type="file" id="inputpsd", name="psd", accept=".psd, .psb")

			label.btn.btn-file(for="inputtif") add .tif
			input.input-file(type="file" id="inputtif", name="tif", accept=".tif")

			label.btn.btn-file(for="inputpreview") add preview
			input.input-file(type="file" id="inputpreview", name="preview",accept=".png")

		button.btn.btn-block.btn-success(type='submit') upload

		if (message)
			p.text-center.text-warning #{message}
		else
			p.text-center.text-warning &nbsp;


